*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.685);
    color: white;
}

nav h1{
        background: linear-gradient(90deg, #320074, #6f00ff4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn-cv {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn-cv:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-cv:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.btn-projetos{
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn-projetos:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-projetos:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.about{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Faz ocupar toda a altura da tela */
}

.front{
    padding: 8px;
    background: linear-gradient(90deg, rgba(111,0,255,0.3), rgba(0,255,204,0.3));
    border-radius: 50px;
}

.name{
    margin-top: 20px;
    font-size: 32px;
    padding: 8px;
    background: linear-gradient(90deg, #320074, #6f00ff4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan{
    margin-top: 10px;
    padding: 8px;
}