* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #1e1e1e;
}

.first {
  padding: 0px 90px;
}

.first img {
  width: 150px;
}

.title {
  padding: 0px 100px;
  margin-top: 120px;
}

.title h1 {
  font-size: 100px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-cu {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  color: #1e1e1e;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.6s;
  margin-top: 30px;
}

.btn-cu a {
  color: #1e1e1e;
  text-decoration: none;
}

.btn-cu:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  transform: translateY(-6px);
  transition: all 0.3s ease-in-out;
}

.pagina-1 {
background: #000000;
background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(67, 9, 121, 1) 76%, rgba(247, 0, 255, 1) 100%);
  height: 100vh;
}

